.projects {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  img {
    width: 100%;
    border: solid #ffffff 0.3rem;
    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}
