#main-footer {
  text-align: center;
  padding: 1.6rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 6rem;
  .icons {
    display: flex;
    justify-content: center;
    a {
      display: block;
      margin: 0 1rem 0.2rem 0;
      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }
}
