html {
  font-size: 62.5%;
}

body {
  background: $primary-color;
  color: #ffffff;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, SansSerif;
  line-height: 1.5;
  @include  background;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 9.6rem;
  }
  &.sm-heading {
    margin-bottom: 3.2rem;
    padding: 0.4rem 1.6rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #ffffff;
  text-decoration: none;
}


.text-secondary {
  color: $secondary-color;
}

